.about-section-container {
	display: flex;
	display: -webkit-flex;
	padding: 5% 0;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.about-item {
	width: 45%;
	@media all and (max-width: 900px) {
		width: 100%;
		padding: 2.5% 10%;
		text-align: center;
	}
}
.about-img {
	@media all and (max-width: 900px) {
		width: 100%;
	}
	.wp-post-image {
		width: 350px;
		box-shadow:  -25px -25px 0px $yellow;
	}
}

// About Page Styles

.about-container {
	display: flex;
	display: -webkit-flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.about {
	background: url(images/ticks.png);
	padding: 5% 10%;
}
.about-description {
	background: $white;
	width: 50%;
	margin-right: 5%;
	padding: 25px;
	@media all and (max-width: 900px) {
		width: 100%;
		margin-bottom: 25px;
	}
	img {
		margin: 0 auto;
		display: block;
		width: 100%;
		height: auto;
	}
}

.skills-container {
	width: 45%;
	@media all and (max-width: 900px) {
		width: 100%;
	}
}

.skills {
	background: $white;
	padding: 25px;
}

.skill {
	margin-bottom: 5px;
	h4 {
		color: $black;
		margin-bottom: 5px;
	}
	p {
		margin-top: 0;
	}
	.skill-title,
	.skill-description {
		background: $white;
		padding: 2px 2.5%;
	}
}
