
.blog {
	background: url(images/ticks.png);
	padding: 25px 0;
	.container {
		margin: 0 auto;
		.content {
			float: none;
			margin: 0 auto;
			width: 75%;
			@media all and (max-width: 700px) {
				width: 85%;
			}
		}
	}
}

.post {
	margin: 0 auto;
	h2.entry-title a {
		color: $black;
		font-family: "league-gothic", sans-serif;
	}
	footer {
		background: $white;
		color: $black;
		padding: 25px;
	}
}

.post-image {
	text-align: center;
}


.post-lower {
	margin-top: -100px;
	margin-bottom: 50px;
	background: $white;
	padding: 25px;
	padding-top: 130px;
	@media all and (max-width: 480px) {
		margin-top: -10px;
		padding-top: 20px;
	}
}

.post-date {
	background: #222;
	display: inline-block;
	color: $white;
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 5px solid $blue;
	float: left;
	margin-right: 20px;
	@media all and (max-width: 480px) {
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}
	p {
		margin: 0;
	}
	.date {
		font-size: 2.25rem;
		@media all and (max-width: 480px) {
			font-size: 1rem;
		}
	}
	.month {
		color: $blue;
	}
}

.post-info {
	text-transform: uppercase;
	@media all and (max-width: 525px) {
		h2 {
			font-size: 2.5rem;
		}
	}
	h2,
	p {
		margin: 0;
	}
	.post-categories {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}

.post-content {
	margin-top: 50px 0;
	@media all and (max-width: 480px) {
		margin-top: 20px 0;
	}
}

.intro {
	font-family: 'Playfair Display', serif;
	font-size: 1.25rem;
}

.single-blog {
	background: url(images/ticks.png);
	padding: 10px;
}

.post {
	.entry-content {
		background: $white;
		padding: 2.5%;

	}
}