footer {
	.fa {
		margin-right: 5px;
	}
}

.footer-container {
	color: $white;
	padding:10%;
	background: $navy;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	.line {
		background: $yellow;
	}
	.btn:hover,
	.btn:focus {
		background: $white;
		color: $black;
	}
}

.footer-half {
	width: 45%;
	margin-right: 5%;
	@media all and (max-width: 900px) {
		width: 100%;
	}
}

input,
textarea {
	border: none;
	padding: 10px 15px;
	margin: 10px 0;
	background: $navy;
	color: $white;
	border: 1px solid $blue;
	width: 100%;
	&:hover,
	&:focus {
		border: 1px solid $white;
	}
}

input[type="submit"] {
	border: none;
	background: $blue;
	// width: 50%;
}

input[placeholder], [placeholder], *[placeholder] {
	text-transform: uppercase;
}


.social {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		padding: 0;
	}
	a {
		color: $black;
		padding: 10px;
		font-size: 2rem;
		@media all and (max-width: 480px) {
			font-size: 1.5rem;
		}
		&:hover,
		&:focus {
			color: $yellow;
		}
	}
}

.footer-info {
	background: $white;
	text-align: center;
	padding: 5%;
}